@media screen and (min-height: 540px) and (max-height: 670px) {
    #menu {
        left: 50%;
        top: 94%;
        padding: 10px;
        margin-bottom: 2px;
      }
}

@media screen and (max-height: 540px) {
    #menu {
        left: 50%;
        top: 92%;
        padding: 10px;
        margin-bottom: 2px;
      }
}   