body {
    background-color: rgb(255, 255, 255);
    height: 100vh;
    margin: 0px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

  }
  
  .image {
    width: 40vmin;
    position: absolute;
    transform: translate(-50%, -50%);
  }
  
  .image[data-status="inactive"] {
    display: none;
  }
  
  .image[data-status="active"] {
    display: block;
  }

#menu {
  position: fixed;
  display: flex;
  justify-content: center;
  left: 50%;
  top: 95%;
  transform: translate(-50%);
  z-index: 100000;
  background-color: white;
  width: 100%;
  padding: 10px;
}
#plus {
  cursor: pointer;
  
  
}

#darkmode {
  margin-left: 10px;
  cursor: pointer;
}
